.mobile__wrap {
    background: var(--base-black);
    padding-bottom: 50px;
}
.mobile__wrap::after {
    content: "";
    display: block;
    clear: both;
}
.header__area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.btn__prev img {
    width: 10px;
    height: 19px;
    padding: 20px;
    cursor: pointer;
}
.header__title {
    font-size: 16px;
    letter-spacing: -0.47px;
    color: var(--base-white);
    font-weight: var(--semibold);
    font-family: "Pretendard";
    text-align: center;
}
/* tab */
.tab__category {
    width: 100%;
    justify-content: center;
    gap: 8px;
    grid-gap: 8px;
    margin-top: 4px;
}
.tab__category li {
    background: var(--bc);
    padding: 8px 14px;
    border-radius: 20.5px;
    cursor: pointer;
}
.tab__category li .flex img {
    width: var(--w);
    height: var(--h);
}
.tab__category li .flex h6 {
    font-size: 15px;
    color: var(--base-black);
    font-family: "Of-SB";
    margin-left: 5px;
}

/* section */
section {
    padding: 0 20px;
    margin-top: 22px;
}
.section__title h2 {
    font-size: 19px;
    letter-spacing: -0.2px;
    color: var(--base-white);
    font-family: "Of-B";
    margin-right: 6px;
}
.section__title span {
    font-size: 19px;
    color: #bbb;
    font-family: "Of-R";
}

.ticket__list {
    margin-top: 5%;
    padding-bottom: 74px;
}
.ticket__list .ticket {
    position: relative;
    max-width: 100%;
    height: 0;
    background-image: url(../images/bg/bg_ticket.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: calc(140 / 310 * 100%);
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.ticket__list .ticket.on {
    opacity: 1;
}
.ticket__list .ticket:not(:first-child) {
    margin-top: 16px;
}
.ticket__info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 62%;
    padding: 6% 8%;
    box-sizing: border-box;
}
.ticket__info > img {
    position: absolute;
    right: 0;
    top: 0;
    width: 69px;
    height: 19px;
    margin: 6% 5%;
}
.ticket__info .flex-direction span {
    font-size: 14px;
    letter-spacing: -0.11px;
    color: #47af98;
    font-family: "Pretendard";
    font-weight: var(--semibold);
}
.ticket__info .flex-direction h6 {
    font-size: 19px;
    color: var(--base-black);
    font-family: "Of-B";
    margin-top: 3px;
}
.ticket__con {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 8%;
    box-sizing: border-box;
}
.ticket__con span {
    font-size: 12px;
    letter-spacing: -0.34px;
    font-family: "Pretendard";
    font-weight: var(--semibold);
}
.ticket__con span.con__l {
    color: rgba(0, 0, 0, 0.6);
}
.ticket__con span.con__r {
    color: rgba(0, 0, 0, 0.3);
}

/* btns */
.fot__btns {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.fot__btns > div {
    flex: 1;
    height: 54px;
    justify-content: center;
    cursor: pointer;
}
.fot__btns > div span {
    font-size: 15px;
    color: var(--base-white);
    font-family: "Pretendard";
    font-weight: var(--semibold);
}
.fot__btns > .btn__convection {
    background-color: #363636;
}
.fot__btns > .btn__entrance {
    background-color: #32cfab;
}
